*{
    margin: 0px;
    padding: 0px;
}
.menu-bar{
    background-image: linear-gradient(-90deg, #04000a, #b0b1af )
}
.navbar-brand{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 700;
}
.nav-link{
    font-size: 22px;
    font-family: 'Abril Fatface', cursive;
    margin: 3px;
    color: white!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline:none!important;
    border:none!important;
}
.navbar .fa{
    color:white!important;
    font-size: 25px;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid white;
}
.corousel,
.corousel-inner{
    height: 100vh;
}
.corousel-item{
    max-width: 100vw;
}
.row featurette{
    margin-left: 3px;;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-height: 500px;    /* Set slide height here */

}

#nav{
    position:fixed;
    bottom:0;
    width: 100%;
    height:40px;
    background-color:rgb(83, 81, 83);
    display:flex;
    overflow-x:auto;
}
.navlink{
    display:flex;
    flex-direction: column;
    align-items: center ;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: 0.1 sec ease-in-out;
}
.navlink:hover{
    background-color:rgb(29, 28, 29);
}
.navicon{
    font-size:50px;
    color:white;
}